<div id="<%= dom_id fan_comment %>">
  <p>
    <strong>Author no:</strong>
    <%= fan_comment.author_no %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= fan_comment.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= fan_comment.body %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= fan_comment.deleted %>
  </p>

</div>
