<div id="<%= dom_id book %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= book.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= book.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Publisher:</strong>
    <%= book.publisher %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Published:</strong>
    <%= book.published %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dl:</strong>
    <%= book.dl %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this book", book, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this book", edit_book_path(book), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
