<% cache(book) do %>
<%# cache_if(book.published <= Date.today ,book) do %>
  <p><%= Time.now %></p>
  <img src="https://wings.msn.to/books/<%= book.isbn%>/<%= book.isbn%>_logo.jpg" width="80" height="30" /><br />
  <%= book.title %><br />
  <%= book.publisher %>/発行<br />
  定価 <%= book.price %>円（＋税）<br />
  ISBN <%= book.isbn %><br />
  発刊日： <%= book.published %><br />
  レビュー：<ul><%= render partial: 'review', collection: book.reviews %></ul>
<% end %>
